<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="text" name="landmark[name]" placeholder="Name" id="landmark_name" value="<%=@landmark.name%>">
  <input type="text" name="landmark[year_completed]" placeholder="Year Completed" id="landmark_year_completed" value="<%=@landmark.year_completed%>">
  <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
