<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" placeholder="Name" id="landmark_name">
  <input type="text" name="landmark[year_completed]" placeholder="Year Completed" id="landmark_year_completed">
  <input type="submit" value="Create New Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
